.navbar{
    .navbar-brand{
        padding: 0;
        img { height: 40px; }
    }
    .nav.ml-auto{
        .dropdown-menu{
            position: absolute;
            left: initial;
            right: 0;
            min-width: 5rem;
            a{
                color: #cccccc;
                &:hover{
                    background-color: inherit;
                    color: #ffffff;
                }
            }
        }
    }
    .nav-item{
        & > a{
            color: #cccccc;
            &:hover{ color: #ffffff; }
            text-decoration: none;
        }
    }
    .btn.btn-outline-secondary.btn-sm.mt-1.border-purple-6{ padding-bottom: 2px; }
}
#navbar-placeholder{ height: 70px; }
#main-row{ margin: 0; }
#side-nav{
    margin-top: -14px;
    padding: 0;
    a{
        color: #cccccc;
        &:hover{ color: #ffffff; }
        text-decoration: none;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    & > .flex-column > .nav-item:first-of-type > a{ padding-top: 8px; }
    .navbar-collapse{
        .flex-column{
            padding-left: 1.5em;
        }
    }
}
.table-filter-clear{
    cursor: pointer;
    padding-bottom: 2px;
    padding-top: 6px;
}

tbody{
    tr{
        td{
            vertical-align: middle !important;
            span.material-icons{ vertical-align: bottom; }
        }
    }
}

.btn{
    cursor: pointer;
    .material-icons{
        vertical-align: middle;
    }
}

.nav-tabs{
    .nav-item{
        img{ margin-right: 8px; }
    }
}

form{
    label.control-label{
        margin: 0;
        padding-top: 4px;
    }
    .image{
        width: 256px;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        position: relative;
        .btns{
            position: absolute;
            top: 4px;
            right: 4px;
            display: none;
        }
    }
    .image:hover{
        .btns{
            display: block;
        }
    }
}

.autocomplete{
    margin-left: 15px;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(160,160,160,0.4);
    box-shadow: 2px 2px 4px 0 rgba(160,160,160,.4);;
    .dropdown-item{
        cursor: pointer;
    }
    .dropdown-item:not(:last-child){
        border-bottom: 1px solid rgba(0,0,0,.15);
    }
}